QWidget {
    background: #282a3a;
    color: #eef1f1
}

QLabel {
    background: transparent;
    color: #eef1f1;
    font-size: 14px;
}

QLineEdit {
    border: 3px solid #515375;
    padding: 5px;
    font-size: 14px;
}

QCheckBox {
    color: #eef1f1;
    font-size: 14px;
}

QRadioButton::indicator {
    width: 24px;
    height: 24px;
    border: 2px solid #515375;
}

QRadioButton::indicator:checked {
    image: url(./res/icons/check.svg);
}

#question-title {
    background: #515375;
    padding-left: 10px;
}

#question-text {
    background: #c7caca;
    color: #282a3a;
    font-size: 14px;
    padding: 10px;
}

#next-button {
    background: #e1c213;
    color: #282a3a;
    font-size: 14px;
    border: 0;
    padding-left: 8px;
    padding-right: 8px;
}

#next-button:pressed {
    background: #c2a928;
    border: 3px dashed #4f5570;
    padding-left: 0;
    padding-right: 0;
}

#title-box {
    background: #eef1f1;
    padding: 10px;
}

#title-image {
    background: transparent;
}

#title-text {
    background: transparent;
    color: #282a3a;
    font-size: 18px;
}
